<footer>
    <div id="footer">
        <div id="footer_socials">
            <p>Make the World a Sweater Place</p>
            <a href="https://www.facebook.com/TheSweaterGuys/" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/watch?v=a6qq8E70_GY&list=PLwIf5m1vDCXNz7fyNSgGgt6XchwFBpNz2" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://www.linkedin.com/company/thesweaterguys/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/sweaterguys" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <div id="footer_links">
            <h1>The Sweater Guys</h1>
            <a href="/">Home</a>
            ·
            <a href="/design">Design Studio</a>
            ·
            <a href="/contact">Contact</a>
            ·
            <a href="/about">About</a>
            ·
            <a href="/faq">Faq</a>
            ·
            <a href="/terms">Terms</a>
            <p>&copy; The Sweater Guys inc. 2018</p>
        </div>
        <div id="footer_contact">
            <a href="https://www.google.com/maps/place/The+Sweater+Guys+HQ/@45.5172126,-73.5818389,17z/data=!3m1!4b1!4m5!3m4!1s0x4cc91bfd8efc26b9:0xa2c69ea5f045b17!8m2!3d45.5172126!4d-73.5796502" target="_blank"><i class="fa fa-map-marker"></i> 4067 Saint Laurent Boul. Montreal, Quebec</a>
            <br>
            <a href="tel:+1-416-822-6761"><i class="fa fa-phone"></i> +1 416 822 6761</a>
            <br>
            <a href="mailto:talk@thesweaterguys.com"><i class="fa fa-envelope"></i> talk@TheSweaterGuys.com</a>
        </div>
    </div>
    <p id="footer_love">made with <i class="fa fa-heart"></i> by The Sweater Guys in MTL</p>
</footer>