<!DOCTYPE html>
<html>
<!--
        WOAH! I see you are a developer! So So COOL!
            Use discount code: 'developer' for 10.101010% off!
            Or for an added bonus, for all you easter-egg hunters:
            'checkout()' what you can do in the console (;
        Sincerely,
            My future self, ~post~ singularity
-->
<head>
    <!--Meta-->
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--JS-->
    <link rel="shortcut icon" type="image/png" href="img/icons/FAV.png"/>
    <script src='js/includes/jquery-3.3.1.min.js'></script>
    <script src='js/includes/jquery-ui.min.js'></script>
    <script src='js/scripts.js'></script>
    <!--CSS-->
    <link rel='stylesheet' href='css/style.css' />
    <link rel='stylesheet' href='css/includes/jquery-ui.min.css' />
    <link rel='stylesheet' href='css/includes/font-awesome.min.css' />
</head>
<body>