@import 'modules/functions'
@import 'pages/product'
// vars
selected_color = rgba(0, 0, 0, 0.5)
selecting_color = alpha(light, 0.5)
primary_color = #1b75bc
secondary_color = #2d95bc
light_color = deepskyblue
lighter_color = skyblue
//primary_color = hotpink
//secondary_color = deeppink
//light_color = hotpink
//lighter_color = deeppink

primary_font = Helvetica, sans-serif
tertiary_font = Lato
light_font = Lato
*
  font-family Helvetica
  list-style-type none
  text-decoration none
  margin 0
input
  &:focus
    outline none
a
  color inherit
html
  ::-webkit-scrollbar
    width 0
html, body
  height 100%
  margin 0
nav
  position fixed
  top 0
  height 50px
  width 100%
  z-index 1
  background light_color
  color white
  font-size 16px
  .menu
    #HOME
      float left
      font-weight bold
      font-size 25px
    a
      line-height 50px
      padding 0 10px
      float right
      &:hover
        background white
        color deepskyblue
.page
  min-height 100%
  margin-top 50px

#index
  height 100vh
  overflow hidden
  background gradient(primary_color, secondary_color)
  placehold(rgba(255,255,255,0.2))
  #TypeName
    color white
    font-weight bold
    text-align center
    size(300px, 50px, 30px, 0)
    pos(absolute, calc(50% - 35px), calc(50% - 160px), calc(50% - 35px), calc(50% - 160px), 300px, 10px)
    border 2px white solid
    font-size 30px
    background rgba(0,0,0,0.5)
@import 'modules/grid'
footer
  color white
  text-align center
  .fab
    padding 10px
    font-size 30px
    &:hover
      color deepskyblue
  #footer
    background lighter_color
    height 160px
    div
      padding 50px 0 0 0
      width calc(100% / 3)
      float left
  #footer_links
    font-weight lighter
    padding 20px 0
    h1
      margin -15px 0 15px 0
    p
      margin 10px 0 0 0
  @media (max-width 1150px)
    h1
      font-size 40px
    .fab
      padding 0 10px
    p, #footer_contact
      display none
    #footer
      height 180px
      div
        width 100%
        padding 30px 0 0 0
  #footer_contact
    a
      width 100%
      line-height 22px
  #footer_love
    background light_color
    line-height 50px
    width 100%
    height 50px

//Design
#welcome
  font-size 50px
#design_studio
  a
    width calc(33.3% - 10px)
    text-align center
    float left
    background deepskyblue
    padding 20px
    margin 5px
    border-radius 5px
    color white
    font-size: 4vw
    font-weight bold
    &:hover
      background skyblue
  background white
  padding 50px
  h2
    color deepskyblue
    text-align center
    font-size 50px
  h1
    color deepskyblue
    text-align center
    margin 0 0 20px 0
//Hoodie SVG
#sweater
  width 50%
  float left
#sweater_base
  fill deepskyblue
  //animation-name: rainbow;
  //animation-duration: 10s;
  //animation-iteration-count: infinite;
#color
  width 40%
  margin 0, 5%
  float left
@keyframes rainbow
  0%
    fill deepskyblue
  50%
    fill deeppink
  100%
    fill deepskyblue
//Animation DStudio
#design_header
  fill deepskyblue
  margin 20px 0
#D_drill{
  animation-name: drill;
  animation-duration: 0.01s;
  animation-iteration-count: infinite;
}
#D{
  animation-name: D;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}
#e3, #e2{
  animation-name: fade-in-right;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#e1{
  animation-name: fade-in-left;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#i_wrench{
  animation-name: i_wrench;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#t_hammer
{
  animation-name: t_hammer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
#o_gear{
  animation-name: o_gear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes drill {
  from {transform: translateX(0px);}
  to {transform: translateX(4px);}
}
@keyframes D {
  0% {transform: scaleX(0.98);}
  50% {transform: scaleX(1);}
  100% {transform: scaleX(0.98);}
}
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-10px);
  }
}
@keyframes i_wrench{
  0% {
    transform-origin: 35% 80%;
    transform:rotate(10deg);
  }
  50% {
    transform-origin: 35% 80%;
    transform:rotate(-10deg);
  }
  100% {
    transform-origin: 35% 80%;
    transform:rotate(10deg);
  }
}
@keyframes t_hammer{
  0% {
    transform-origin: 70% 80%;
    transform:rotate(0deg);
  }
  90% {
    transform-origin: 70% 80%;
    transform:rotate(-10deg);
  }
  100% {
    transform-origin: 70% 80%;
    transform:rotate(0deg);
  }
}
@keyframes o_gear{
  0% {
    transform-origin: 95.3% 45%;
    transform:rotate(0deg);
  }
  100% {
    transform-origin: 95.3% 45%;
    transform:rotate(360deg);
  }
}