<%- include('header') %>
<%- include('nav') %>
<div class="fullPage" id="designStudio">
    <div class="content">
        <h1>Get Started!</h1>
        <a href="/hoodie">Hoodie</a>
        <a href="/crew">Crew</a>
        <a href="/quarter">Zip</a>
        <h1>Here's How it Works</h1>
        <div id="step1" class="step">
            <div class="Num">
                <h1>1</h1>
            </div>
            <div class="text">
                <h2>Pick Your Swag</h2>
                <img src="img/photos/1.gif">
            </div>
        </div>
        <div id="step2" class="step">
            <div class="Num">
                <h1>2</h1>
            </div>
            <div class="text">
                <h2>Pick Your Colors</h2>
                <img src="img/photos/2.gif">
            </div>
        </div>
        <div id="step3" class="step">
            <div class="Num">
                <h1>3</h1>
            </div>
            <div class="text">
                <h2>Upload Your Design</h2>
                <img src="img/photos/3.gif">
            </div>
        </div>
        <div id="step4" class="step">
            <div class="Num">
                <h1>5</h1>
            </div>
            <div class="text">
                <h2>Achieve Enlightenment</h2>
                <img src="img/photos/4.gif">
            </div>
        </div>
    </div>
</div>
<script>
    // $(window).scroll(function(){
    //     $("#designStudio").css("background-position", '0% ' +  $(window).scrollTop() + '%');
    // });
</script>
<%- include('footer') %>