<%- include('header') %>
<%- include('nav') %>
<div class="fullPage" id="success">
    <div class="content" id="section0">
        <div class="container">
            <h1>Success!</h1>
            <h2>Noice! Ya did it!</h2>
            <br><br><br>
            <p>This is the generic success page<br>whatever you did, you did it right!</p>
        </div>
    </div>
</div>
<%- include('footer') %>