selected_color = rgba(0, 0, 0, 0.5)
selecting_color = alpha(light, 0.5)
primary_color = #1b75bc
secondary_color = #2d95bc
dark = #0A0A0A
light = #f5f5f5
dark_alpha = rgba(0,0,0,0.5)

primary_font = Helvetica, sans-serif
tertiary_font = Lato
light_font = Lato